{% extends 'base.html.twig' %}

{% block title %}Pinterest | {{ pins.titre}} {% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="col-md-7 mt-4">
            <div>
                <img 
                    src="{{ 
                        (pins.imageName ? 
                        vich_uploader_asset(pins, 'imageFile') : 
                        asset('build/image/image.jpg')) | 
                        imagine_filter('squared_thumbnail_small') }}" 
                    alt="{{ pins.titre }}" 
                    class="w-100">
            </div>
            <div class="mt-4">
                <article>
                    <h1 class="text-muted h3 mb-4">{{ pins.titre }}</h1>

                    <p class="text-muted">
                        {{ pins.description }}
                    </p>

                    <p>
                        Poster  {{ pins.createdAt|ago }}
                    </p>
                </article>

                <a href="{{ path('edit', {id: pins.id}) }}" class="btn btn-light">Edit</a>
                <form 
                    action="{{ path('delete', {id: pins.id}) }}" 
                    method="POST" onclick="event.preventDefault(); confirm('Voulez vous supprimer ?')">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('supprimer_' ~ pins.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-light">Delete</button>
                </form>
            </div>
        </div>
        <div class="col-md-5">

        </div>
    </div>
{% endblock %}